:root{
    --primary-color:#534293;
    --primary-color-light:#a997ea;
    --white:#ffffff;
    --black : #eb5951;
    --light-black: #cc41ff;
    --light-white:#05bbaa;
    --transition: all 3s ease-out;
}

*{
    text-decoration: none;
    list-style: none;
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: var(--transition);
    line-height: 1.6;
}
html{
    scroll-behavior: smooth;
}

.container{
    width: 90%;
    margin: 0 auto;
}
.btn{
    border-radius: .3rem;
    background: var(--primary-color-light);
    padding: .7rem 1.3rem;
    color: var(--white);
}
.card{
    background: var(--white);
    border-radius: .5rem;
    padding: 2rem;
}
/* :::: nav :::: */
.nav{
    background: var(--primary-color);
    color: var(--white);
    height: 4rem;
    /* padding: 1rem 0; */
    position:fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
   
.nav .logo img{
    width: 4.8rem; height: 3.6rem;
    border-radius: 1.7rem;
}
.nav  span{
    font-size: 3rem;
}
.nav-container li{
    display: inline;
}

.nav li a{
    color: var(--white);
    padding: 0 1rem;
    font-size: 1rem;
    font-style: italic;
}
.nav li a::before{
    content: '';
    height: .2rem;
    background:var(--light-black);
    position: absolute;
    top: 3.7rem;
    transform: scaleX(0);
    transform-origin: left;
    width: 3%;
    transition: all .4s ease
}
.nav li a:hover::before{
    transform: scaleX(1);
}


/* ::: hero ::: */
#hero{
    /* background: var(--light-white); */
    height: 75vh;
    background: url(/assets/media/dark-wallpapers.webp);background-size:100vh; background-size: cover;
    padding: 5rem 0;
    position: relative;
    overflow: visible;
}
#hero .hero-container{
    display: flex;
    justify-content: space-between;
    gap:1rem;
    align-items: center;
}
#hero .hero-text h2{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--black);
    
}
#hero .hero-text p{
    color: var(--primary-color-light);
    margin: 0 0 2.5rem;
    font-style: italic;
}
#hero .hero-text a{
    margin: 2rem 0;
}

#hero .hero-form .hero-card{
    height: 85vh;
    background: var(--light-black);
    color: var(--white);
}
#hero .hero-form .hero-card h3{
    text-align: center;
    color: var(--white);
    padding: .7rem;
    font-size: 2rem;
    text-decoration: underline !important;
}

#hero .hero-form .hero-card input[type='text'],#hero .hero-form .hero-card textarea{
    width: 100%;
    padding: .7rem 0;
    border-radius: .4rem;
    margin: .7rem 0;
    background: none;
    border: none;
    border-bottom: 1px solid var(--white);
    color: var(--white);
}

#hero .hero-form .hero-card input::placeholder,#hero .hero-form .hero-card textarea::placeholder{
    color: var(--white);
    font-style: italic;
}
#hero .hero-form .hero-card input:focus{
    color: var(--white);
}
#hero .hero-form .hero-card input:focus::placeholder{
    color: var(--white);
    transition: all 4s ease;
    font-size: .5rem;
}
/* about */
#about {
    padding-top: 10rem;
    align-items: center;
    background: #a997ea;
    padding-bottom: 3rem;
}
#about .biodata {
    display: flex;
    justify-content: space-evenly;
}
#about h2 {
    text-align: center;
    font-size: 4rem;
    color:var(--white);
    justify-content: center;
    position: relative;
}
#about p{
    text-align: center;
}
#about .biodata i{
    color: var(--white);
}
#about .biodata span{
    font-style: italic;
}
#about .skill h3{
    text-align: center;
    font-size: 2rem;
}
#about .skill-list{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    font-style: italic;
}
#about h2::before{
    content: '';
    height: .2rem;
    background:var(--light-black);
    position: absolute;
    top: 4.9rem;
    width: 13%;
    display: block;
    left: calc(43.5%);
}

/* contact */
#contact {
    background: #534293;
    text-align: center;
}
#contact h2 {
    font-size: 4rem;
    color: var(--white);position: relative;
}
#contact h2::before{
    content: '';
    height: .2rem;
    background:var(--light-black);
    position: absolute;
    top: 4.9rem;
    width: 16.5%;
    display: block;
    left: calc(42%);
}
#contact i{
    font-size: 3rem;
}
#contact .bi-facebook{
    color: rgb(66, 103, 178);
}
#contact .bi-twitter{
    color: rgb(0, 172, 238);
}
#contact .bi-github{
    color: #171515;
}
#contact .bi-whatsapp{
    color: #25d366;
}
#contact .bi-instagram{
    color: rgb(128, 52, 175);
}






























@media screen and (max-width:500px){
    /* :::: nav :::: */
.nav{
    background: url(/assets/media/5.png);background-repeat:repeat-x;
    color: var(--white);
    height: 6rem;
    /* padding: 1rem 0; */
    position:fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
}
.nav-container{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.nav .logo{
    font-size: 2rem;
    font-weight: bold;
    color: var(--white);
    text-align: center;
}
.nav-container li{
    display: inline;
}

.nav li a{
    color: var(--white);
    padding: 0 .6rem;
    font-size: 1rem;
}
.nav li a::before{
    content: '';
    height: .2rem;
    background:var(--white);
    position: absolute;
    top: 4.7rem;
    transform: scaleX(0);
    transform-origin: left;
    width: 10%;
    transition: all .4s ease
}
.nav li a:hover::before{
    transform: scaleX(1);
}


/* ::: hero ::: */
#hero{
    /* background: var(--light-white); */
    height: 90vh;
    background: var(--light-black);
    padding: 6rem 0;
    position: relative;
    overflow: visible;
}
#hero .hero-container{
    display: flex;
    justify-content: space-between;
    gap:1rem;
    align-items: center;
    flex-wrap: wrap;
}
#hero .hero-text h2{
    font-size: 2.5rem;
    font-weight: bold;
}
#hero .hero-text p{
    color: var(--primary-color-light);
    margin: 0 0 2.5rem;
}
#hero .hero-text a{
    margin: 2rem 0;
}

#hero .hero-form .hero-card{
    height: 55vh;
    background: var(--primary-color);
    color: var(--white);
    padding: .5rem;
}
#hero .hero-form .hero-card h3{
    text-align: center;
    color: var(--white);
    padding: .7rem;
    font-size: 1rem;
    text-decoration: underline;
}

#hero .hero-form .hero-card input[type='text'],#hero .hero-form .hero-card textarea{
    width: 100%;
    padding: .5rem 0;
    border-radius: .4rem;
    margin: .5rem 0;
    background: none;
    border: none;
    border-bottom: 1px solid var(--white);
    color: var(--white);
}
#hero .hero-form .hero-card textarea{
    height: 10vh;
}
#hero .hero-form .hero-card input::placeholder,#hero .hero-form .hero-card textarea::placeholder{
    color: var(--white);
}
#hero .hero-form .hero-card input:focus{
    color: var(--white);
}
#hero .hero-form .hero-card input:focus::placeholder{
    color: var(--white);
    transition: all 4s ease;
    font-size: .5rem;
}
#hero .hero-form .hero-card button{
    width: 100%;
}


}